* {
    box-sizing: border-box;
}

::selection {
    background-color: rgba($c-secondary, 0.8);
    color: #fff;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    line-height: 1.5;
}

h1,
h2,
h3,
p,
li {
    margin: 0;
    padding: 0;
    color: inherit;
    font-family: inherit;
    letter-spacing: 0.09em;
}

h1,
h2,
h3 {
    font-weight: 700;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    line-height: 1;
}

button {
    margin: 0;
    padding: 0;
    border: none;

    &:hover {
        cursor: pointer;
    }
}

a {
    text-decoration: none;
    color: $c-primary;
}

table {
    margin-bottom: $gutter;
}

th {
    font-weight: bold;
    color: $c-primary;
}

th,
td {
    border-bottom: 2px solid #f1f1f1;
    padding: $gutter-small;
    text-align: left;
}

.main-content {
    position: relative;
    background-color: #fff;
    color: #000;

    &.full-height {
        margin-top: 100vh;
        min-height: 100vh;
        z-index: 2;
    }
}
