.latest-posts {
    border-top: 3px solid #f1f1f1;
}

.latest-posts__headline {
    color: coral;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: $gutter;
}

.latest-posts__title {
    color: $c-primary;
    width: 50%;
    line-height: 1.6;
    margin-bottom: $gutter / 2;

    @include mq($tablet-p) {
        width: 100%;
    }

    a:hover {
        text-decoration: underline;
    }
}

.latest-posts__data {
    opacity: 0.5;
    margin-bottom: $gutter / 3;
}

.latest-posts__text {
    line-height: 1.8;
    width: 80%;
    margin-bottom: $gutter;

    @include mq($tablet-p) {
        width: 100%;
    }
}

.latest-posts__more {
    display: inline-block;
    padding: 10px;
    background-color: $c-primary;
    color: #fff;

    &:hover {
        background-color: lighten($c-primary, 10%);
    }
}

.latest-posts__item {
    + .latest-posts__item {
        margin-top: $gutter * 2;
    }
}
