.section {
    margin: 0 auto;
    max-width: $container;
    width: 95%;
    padding: ($gutter-large * 2) 0 $gutter-large 0;

    @include mq($tablet-l) {
        padding: $gutter-large 0;
    }

    @include mq($mobile) {
        padding: $gutter 0;
        width: 100%;
        max-width: none;
    }
}

.section--regular-padding {
    padding: $gutter;
}

.section--dark {
    background-color: $c-primary;
    color: #fff;
    width: 100%;
    padding: $gutter-large 0;
    max-width: 100%;

    a {
        color: #fff;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}

.section__title {
    padding: 0 $gutter-large;
    max-width: 70%;
    font-size: 50px;
    margin-bottom: $gutter-large;
    color: $c-primary;
    line-height: 1.3;

    @include mq($tablet-p) {
        font-size: 40px;
        max-width: 100%;
        margin-bottom: $gutter-medium;
        padding: 0 $gutter;
    }

    @include mq($mobile) {
        font-size: 26px;
        margin-bottom: $gutter;
        padding: 0 $gutter;
    }
}

.section__title--wide {
    max-width: none;
    text-align: center;
}

.section__intro {
    padding: 0 $gutter-large;
    padding-right: 10%;
    margin-bottom: $gutter-large;

    @include mq($tablet-p) {
        padding: 0 $gutter;
    }
}

.section__ingress {
    font-size: 18px;
    line-height: 1.9;

    @include mq($tablet-l) {
        font-size: 14px;
    }

    + .section__ingress {
        margin-top: $gutter;
    }
}
